# Gitignore for Node.js projects

# Dependencies
/node_modules

# Production build output
# /dist  <-- Ensure this line is commented out or removed if present

# Ignore build and other temporary files
/build
/temp
/tmp
/log
/logs
/.sass-cache
/.eslintcache

# Runtime files
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.local

